* {
  margin: 0;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #e3e3e3;
  height: 10vh;
}

.link {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.link:active {
  color: white;
}

.App-header-logo {
  height: 80%;
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

