.AllUsers-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    min-height: 90vh;
    padding: 0 10px;
}

.AllUsers-header {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
}

.AllUsers-info {
    display: flex;
    flex-direction: row;
}

.AllUsers-div {
    border-radius: 10px;
    background-color: white;
    width: 50%;
    min-width: 520px;
    display: flex;
    flex-direction: column;
}

.AllUsers-posts {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
